{% extends 'admin/change_form.html' %}

{% block extrahead %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.9.4/tinymce.min.js"
          integrity="sha512-MGz4lok7A2vu3S5dK81JL+GAC8HZYCFOkWmj4rRqcLjPD+SdJESAfdUNtrrO7IhAPgKxmRKJ4qg+4z3GgVCyrA=="
          crossorigin="anonymous"></script>
  <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'tabfocus',
      tabfocus_elements: ':prev,:next',
      menubar: false,
      setup: function (editor) {
        editor.on('change', function (){
          editor.save()
        });
        editor.on('submit', function (){
          console.log('submit');
        })
      }
    })
  </script>
{% endblock %}
